body{
    background-color: rgb(151, 150, 150);
    
}

.boton {
    background-color: black;
    display: inline-flex;
    font-size: 1.3em;
     font-weight: 900;
     border: none;
     border-radius: 20px;
    margin-left: 10px;
     line-height: 45px;
     margin-top: 10px;
}
    
.boton a {
text-decoration: none;
color: white;
padding: 0 20px;
        
}
.boton a:hover {
background-color: white;
color: black;
border: none;
border-radius: 20px;
}